<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120073297295-rqiqehvs38edthe7o9n2ms72fuighrkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120073297295-rqiqehvs38edthe7o9n2ms72fuighrkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAKt2JYyeTW9hstTeco6H-Su8YSMWv3Vc8</string>
	<key>GCM_SENDER_ID</key>
	<string>120073297295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oga.company.-0-PrimeiroAppMVVM</string>
	<key>PROJECT_ID</key>
	<string>primeiroappmvvm-46bf9</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroappmvvm-46bf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120073297295:ios:a452141c16d173ffd1bffa</string>
</dict>
</plist>